body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #A9F5BC;
}

li {
    list-style-type: none;    
}

.quem-somos {
    background-color: #2ECCFA;
    color:white;
}

.margin {
    padding-top: 20px;    
    padding-bottom: 50px;
}

.parceiros {
    background-color: yellow;
}

.servicos {
    background-color:white;
}

.bg-footer {
    background-color:#A9F5BC;
    color: blue;
}